@charset "utf-8";
/* CSS Document */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
input,
select,
form img,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
textarea {
  width: 95%;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
body {
  color: #000;
  font-family: arial;
  background: #FFF;
  overflow-x: hidden;
}
/*自己*/
.container{
  width: 100%;
  height: 2000px;
  max-width:750px;
  min-width:320px;
  background-color: salmon;
  padding-top:50px;
  padding-bottom:124px;
  margin: 0 auto;
}
/*头部*/
.mmm-header{
  width: 100%;
  max-width:750px;
  min-width:320px;
  position: fixed;
  top: 0;
  height: 50px;
  background-color: #ff841d;
  z-index:999;
}
.logo-left{
  float: left;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}
.logo-left img{
  max-height:25px;
}
.app-dowmload{
  position: absolute;
  right: 10px;
  bottom: 7px;
}
.app-dowmload img{
  max-height: 34px;
}

/*底部*/
.mmb-footer{
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: #f5f5f5;
  width: 100%;
  min-width:320px;
  max-width:750px;
  margin-top: 50px;
}
.footer-bar{
  height: 34px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.footer-bar .register{
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
}
.login,.register,.toTop{
  float: left;
  width: 33.33%;
  height: 100%;
  line-height: 34px;
  text-align: center;
}
.toTop img{
  width: 20px;
  height: 20px;
  margin-bottom:3px;
}
.footer-msg{
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}
.footer-msg p{
  line-height: 30px;
}
.footer-msg a{
  color: red;
}
.footer-msg span,.footer-msg .addr{
  color: #666;
}
/*搜索框*/
.search{
  background-color: #fff;
  height: 50px;
  width: 100%;
  padding: 10px;
  position: relative;
}
.search button{
  width: 63px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #ff841d;
  color: #fff;
  font-weight:700;
  font-size: 16px;
  border:none;
  border-radius: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.search .search-text{
  height: 30px;
  border:none;
  border-radius: 15px;
  background-color: #f1f1f1;
  width: 90%;
  padding-left: 20px;
}
/*面包屑导航*/
.pro-nav{
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  padding-left: 20px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background: linear-gradient(#ffffff,#ebebeb);
  position: relative;
}
.pro-nav button{
  width: 60px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: linear-gradient(#d7d7d7,#f5f5f5);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0  1px 2px #888;
  position: absolute;
  right: 10px;
  top: 5px;
}