.right-img{
  width: 100px;
  height: 100px;
  float: right;
}
.money-p-title h3{
  font-size:22px ;
  padding-left: 10px;
  height:  50px;
  line-height: 50px;
}
.money-p-title p{
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
}
.m-pro-info img:first-child{
  float: right;
  width: 100px;
  height: 100px;
}
.m-pro-info p{
  line-height: 30px;
  padding: 10px 0;
}
.m-pro-area ul{
  box-shadow: 1px 1px 2px #ccc;
  width: 500px;
  margin: 20px auto 0;
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
}
.m-pro-area li{
  border-bottom: 1px dashed #ccc;
  padding:0 10px;
}
.m-pro-area strong{
  color: orangered;
  float: right;
}
.m-go-buy{
  display: block;
  margin: 20px;
  background-color: #FF9000;
  height: 34px;
  border-radius: 5px;
  color: #fff;
  line-height: 34px;
  text-align: center;
}
.m-message img{
  width: 100%;
}