
/*内容*/
.money-item{
  background-color: #fff;
  border-bottom:1px solid #ccc;
  position: relative;
}
.money-item img{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.money-info{
  padding: 10px 20px 10px 120px;
}
.money-info .title{
  font-size: 16px;
  color: #333;
  height: 55px;
}
.money-info .title .price{
  color: red;
}
.money-info .others{
  color: #666666;
  font-size: 14px;
  padding-top: 10px;
  height: 50px;
}
.others .fa-commenting-o{
  float: right;
}
/*分页*/
.pages{
  height: 60px;
  line-height: 60px;
  background-color: #fff;
}
.pages .btn{
  padding: 8px 15px;
  background: linear-gradient(#f1f1f1,#d4d4d4);
  border-radius: 5px;
  border-bottom:1px solid #d4d4d4;
  box-shadow: 0 0 1px #666;
}
.pages div{
  float: left;
  width: 33.33%;
  text-align: center;
}
.pages select{
  width: 80px;
  height: 35px;
}
